body{
    margin: 0;
    height: 732px;
    background: linear-gradient(to bottom, #ffcc66 0%, #66ccff 100%);
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}